section.quote 
  .container 
    .quote-list
      +quoteItem("../images/img-quote-avatar.png",true)  
      +quoteItem("../images/img-quote-avatar.png",true)
      +quoteItem("../images/img-quote-avatar.png",true)